* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}

.web-body {
    background: #DFF2EB;
    /* background: radial-gradient(circle, rgba(104, 113, 171, 1) 0%, rgba(0, 0, 0, 1) 100%); */
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

section {
    display: -webkit-flex;
    display: flex;
}


a {
    text-decoration: none;
    color: #DFF2EB;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: space-around;
    margin: 10px;
    padding: 10px;
    background-color: black;
    width: 270px;

}
.nav-side {
    display: block;
    padding: 50px;
    background-color: #666;
    list-style-type: none;
    max-width: 100%;
    width: 370px;
    max-height: 100%;
    height: 600px;
}