/* HOME PAGE --------------------------------------------------------------------*/

*,
html {
    margin: 0;
    padding: 0;
}

.web-body {
    background: linear-gradient(to right, #003366, #0099CC);
}

/* NAVBAR */

.div-navbar {
    background-color: #4A628A;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-navbar {
    display: flex;
}

.li-navbar:hover {
    background-color: #7AB2D3;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.li-navbar {
    padding: 2vh;
    margin: 1vh;
    list-style-type: none;
    font-size: large;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.a-navbar{
    color: rgb(185, 162, 248);
    text-decoration: none;
}

/* CONTENT */

.div-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.img-content {
    height: 80vh;
    width: 50vh;
    border-style: solid;
    border-radius: 15%;
    border-color: #091057;
    animation-direction: alternate;
    transition: .2s ease-in-out;
    transition-delay: .3s;
}

.p-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #091057;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: inherit;
    font-size: 10vh;
    font-style: bolder;
}

.jurnal{
    /* background-color: #8e22ec; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.jurnal-nav{
    background-color: #8e22ec;
    text-decoration: none;
    font-size: larger;
}

/* FOOTER */

.footer {
    height: 5vh;
    background-color: #4A628A;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: -2px -18px 48px -7px rgba(132, 0, 255, 0.75);
    -webkit-box-shadow: -2px -18px 48px -7px rgba(132, 0, 255, 0.75);
    -moz-box-shadow: -2px -18px 48px -7px rgba(132, 0, 255, 0.75); */
}

.h1-footer {
    color: rgb(185, 162, 248);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-size: small;
    font-style: bolder;
}

/* ABOUT ME PAGE ----------------------------------------------------------*/

.div-contentabout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.div-objectabout{
    display: flex;
    justify-content: start;
}

.vidio-content{
    width: 25vh;
    height: 25vh;
    border-style: outset;
    border-color: #8e22ec;
    border-radius: 60%;
}

.containerp{
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pcontentabout{
    background-color: #8e22ec;
    width: 60vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(55, 48, 97);
}

.p-contentabout{

    height: 5vh;
    width: 40vh;
    background-color: rgb(55, 48, 97);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(185, 162, 248);
    border-style: solid;
    border-color: rgb(171, 166, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: inherit;
    font-size: medium;
    border-radius: 20%;
}

.comment{
    display: flex;
    justify-content: center;
    color: rgb(185, 162, 248);
    font-weight: bolder;
    font-size: large;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* CONTACT PAGE-------------------------------------------------------------- */

.div-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 86vh;    
    
}

.namecontact{
    display: flex;
    justify-content: center;
    color: rgb(185, 162, 248);
    font-weight: bolder;
    font-style: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact{
    height: 10vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
}

